@using TwitterQuiz.Domain
@model TwitterQuiz.ViewModels.Home.HomeIndexViewModel

@{
    ViewBag.Title = "Twitter Quiz";
    Layout = "../Shared/_MasterLayout.cshtml";
}

@if (!Request.IsAuthenticated)
{
    @Html.Partial("_LogOn")
}
else
{
    <div class="sign-in-buttons">
        <a class="btn btn-lg btn-primary" href="@Url.Action("New", "Quiz")">
            <i class="fa fa-clipboard fa-fw"></i>
            Create a Quiz
        </a>
    </div>
    foreach (var quiz in Model.Quizzes)
    {
    <div class="panel @quiz.PanelClass">
        <div class="panel-heading">
            <h3 class="panel-title">@quiz.Name</h3>
        </div>
        <div class="panel-body">
            <p>@quiz.Description</p>
            <p>Start: @quiz.Start</p>
            @if (!quiz.HostIsAuthenticated)
            {
                <a class="btn btn-lg btn-warning" href="@Url.Action("AuthorizeHost", "Quiz", new {id = quiz.Id})">
                    <i class="fa fa-exclamation fa-fw"></i>
                    Authorize Host
                </a>
            }
            @if (quiz.HostIsAuthenticated && quiz.Status == QuizStatus.Ready)
            {
                <a class="btn btn-lg btn-success" href="@Url.Action("Start", "Quiz", new {id = quiz.Id})">
                    <i class="fa fa-play fa-fw"></i>
                    Play Now
                </a>
            }
            @if (quiz.Status == QuizStatus.InProgress)
            {
                <a class="btn btn-lg btn-danger" href="@Url.Action("Stop", "Quiz", new {id = quiz.Id})">
                    <i class="fa fa-stop fa-fw"></i>
                    Stop Quiz
                </a>
            }
            @if (quiz.Status < QuizStatus.InProgress)
            {
                <a class="btn btn-lg btn-primary" href="@Url.Action("Edit", "Quiz", new {id = quiz.Id})">
                    <i class="fa fa-edit fa-fw"></i>
                    Edit
                </a>
            }
            <a class="btn btn-lg btn-danger" href="@Url.Action("Delete", "Quiz", new { id = quiz.Id })">
                <i class="fa fa-trash-o fa-fw"></i>
            </a>
        </div>
    </div>
    }
}