@model TwitterQuiz.ViewModels.Quiz.EditQuizViewModel

<div class="row">
    <div class="col-md-6">
        @Html.EditorFor(x => x.Details)
    </div>
    <div class="col-md-6">
        @foreach (var round in Model.Rounds.OrderBy(x => x.Sequence))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.TextBoxFor(x => round.Name, new { @class = "form-control" })
                </div>
                <div class="panel-body">
                    @foreach (var question in round.Questions)
                    {
                        <div class="row form-stacked">
                            <div class="col-md-12">
                                @Html.TextAreaFor(x => question.Question, new { @class = "form-control" })
                            </div>
                            <div class="col-md-8 col-md-offset-2">
                                @foreach (var answer in question.PossibleAnswers)
                                {
                                    @Html.TextBoxFor(x => answer, new { @class = "form-control" })
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        <div class="form-group">
            @Html.ActionLink("Add Round", "AddRound", "Quiz", new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
<div class="form-group">
    <button type="submit" class="btn btn-primary">Save</button>
</div>